@font-face {
  font-family: 'Oswald';
  src: url('../public/fonts/Oswald-Regular.ttf') format('truetype');
}

* {
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}