.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    padding: 0.5rem;
}

.row {
    display: flex;
    width: 100%;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    margin-left: 0.5rem;
}

.img {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #ddd;
    background-color: #F2F2F2;
}

.cardContent {
    padding: 10px;
    text-align: center;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    color: #313131;
}

.types {
    display: flex;
    justify-content: center;
}

.type {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1.4em;
    text-align: center;
    line-height: 1.2;
}

span {
    width: 55px;
    height: 30px;
}

.attributes { 
    margin-top: 10px;
    text-align: center;
}

/* chart */
.barContainer {
    margin-bottom: 10px;
}

.barLabel {
    font-weight: bold;
    margin-bottom: 5px;
}

.bar {
    height: 20px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.barFill {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 1s ease-in-out;
}

.barValue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(226, 193, 6);
    font-weight: bold;
}

.btnEdit, .btnDel {
    position: absolute;
    background-color: #C56B7A;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.btnEdit {
    background-color: #2980B9;
    right: 43px;
}

.closeCard {
    position: absolute;
   right: 1px;
   top: 1px;

}

@media screen and (max-width: 575px) {
    .row {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .right {
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

/* types colors */
.poison {
    background-color: #B97FC9;
}

.electric {
    background-color: yellow;
}

.grass {
    background-color: #9BCC50;
}

.fire {
    background-color: #FD7D24;
}

.water {
    background-color: #4592C4;
}

.bug {
    background-color: #729F3F;
}

.flying {
    background: linear-gradient(to bottom, #3DC7EF 50%, #BDB9B8 50%);
}

.normal {
    background-color: #A4ACAF;
}

.ground {
    background: linear-gradient(to bottom, #F7DE3F 50%, #AB9842 50%);
}

.fairy {
    background-color: #FDB9E9;
}

.fighting {
    background-color: #D56723;
}

.psychic {
    background-color: #F366B9;
}

.rock {
    background-color: #A38C21;
}

.steel {
    background-color: #9EB7B8;
}

.ice {
    background-color: #51C4E7;
}

.ghost {
    background-color: #7B62A3;
}

.dragon {
    background: linear-gradient(to bottom, #53A4CF 50%, #F16E57 50%);
}

.dark {
    background-color: #707070;
}