.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5rem;
    margin-left: 4rem;

}

.select {
    width: 200px;
    margin: 0.5rem;
    padding: 8px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.select option[disabled] {
    color: #aaa;
    font-style: italic;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.select:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.7);
}

.select:hover {
    border-color: #888;
}

.buttonClear {
    background-color: #2980B9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.buttonClear:hover {
    background-color: #0870b5;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .selectContainer {
        margin-left: 0;
    }
}

