.feature {
    background-color: #fff;

    color: #ffffff;
    padding: 0;
}

.container .middleContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container, .middleContainer h1 {
    color: black;
}

.middleContainer {
    background-color: #eee2de;
}

.row {
    display: flex;
    flex-direction: row;    
}

.row:first-child {
    padding: 1rem;
}

.row .column {
    padding: 1rem;
}

p {
    font-size: 1.5rem;
    color: black;
}

.feature img {
    width: 95%;
}

@media (max-width: 767px) {
    .column {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .container .row {
        display: flex;
        flex-direction: column;    
    }

    .middleContainer .row {
        display: flex;
        flex-direction: column-reverse;    
    }

    .container, .middleContainer h1 {
        text-align: center;
    }
}