.feature {
    background-color: #fff;
    color: #ffffff;
    padding: 100px 7px 70px 7px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}

.row:first-child {
    padding: 1rem;
}

.column {
    flex: 0 0 auto;
    width: 50%;
    max-width: 50%;
}

p {
    font-size: 1.5rem;
}

.feature img {
    width: 95%;
}

@media (max-width: 767px){
    .column {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}