.feature {
    background-color: #fff;
    color: #333;
    padding: 20px;
}

.container,
.middleContainer {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.container h1,
.middleContainer h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

.middleContainer {
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.middleContainer .column {
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row .column {
    flex: 1;
    padding: 20px;
}

.row img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

p {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .row img {
        margin-bottom: 20px;
    }

    .container h1,
    .middleContainer h1 {
        text-align: center;
    }
}