.loader {
    /* border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db; */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 100;
}


.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}