.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.active {
    font-weight: bold;
}

.button {
    margin: 0 5px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}