.createContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 0 5rem;
    width: 50%;
}


.formContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.right {
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.imgContainer img {
    width: 100%;
}

@media (max-width: 768px) {
    .createContainer {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .createContainer {
        width: 100%;
        padding: 0;
    }
}